/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  row-gap: var(--break-medium, 40px);
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--background-color, #000028);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--font-family, sans-serif);
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weight, 400);
}

.header {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: space-between;
  position: relative;
  min-block-size: 668px;
  padding: var(--break-small, 10px);
  block-size: 100vh;
  margin-block-end: 50px;
}

@supports (block-size: 100dvb) {
  .header {
    block-size: 100dvb;
  }
}

.header__mark {
  position: absolute;
  color: var(--accent-color, #FF0070);
  inset-inline-end: calc(var(--break-small) + 28px);
  inset-block-start: calc(var(--break-small) + 2px);
  line-height: 138.889%;
  text-transform: uppercase;
  font: inherit;
}

.header__mark::after {
  content: "";
  position: absolute;
  inset-inline-end: 0;
  inset-block-start: 50%;
  background-color: var(--accent-color, #FF0070);
  filter: drop-shadow(0px 0px 4px var(--accent-color, #FF0070));
  inline-size: 10px;
  block-size: 10px;
  border-radius: 50%;
  margin: -5px -20px 0 0;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--break-small, 10px);
  list-style-type: none;
}

.header__theme-menu-button {
  position: relative;
  display: block;
  padding: 2px 13px 4px;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  font-family: var(--font-family, sans-serif);
  color: var(--accent-color, #FF0070);
  font-size: var(--font-size, 18px);
  border: 1px solid transparent;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: var(--button-border-hover, 1px solid rgba(255, 0, 112, 0.40));
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  inline-size: 100%;
  block-size: 1px;
  background-color: var(--accent-color);
  inset-block-end: -2px;
  inset-inline-start: 0;
  border-block-end: 1px solid currentColor;
}

.decor::before,
.decor::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decor::before {
  border-inline-end: 1px solid var(--accent-color, #FF0070);
  border-block-start: 1px solid var(--accent-color, #FF0070);
  inset-inline-end: var(--break-small, 10px);
  inset-block-start: var(--break-small, 10px);
}

.decor::after {
  border-inline-start: 1px solid var(--accent-color, #FF0070);
  border-block-end: 1px solid var(--accent-color, #FF0070);
  inset-inline-start: var(--break-small, 10px);
  inset-block-end: var(--break-small, 10px);
}

.header__title {
  font-size: var(--title-size);
  color: var(--title-color, #DB00FF);
  text-shadow: var(--title-shadow, 4px 4px 0px #FF0070);
  font-weight: var(--font-weight-bold, 700);
  line-height: 82.5%;
  justify-self: start;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--text-color-dark, #000028);
  font-weight: var(--font-weight-bold, 700);
  font-family: inherit;
  line-height: var(--line-height, 130%);
}

.header__text {
  max-block-size: 117px;
  min-inline-size: 355px;
  display: block;
  align-self: center;
  justify-self: flex-end;
}

.main {
  display: grid;
  padding: var(--break-small, 10px);
}

.section__title {
  font: inherit;
  color: var(--accent-color, #FF0070);
  font-weight: var(--font-weight-bold, 700);
  min-inline-size: 236px;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__subtitle-bold {
  font-size: 18px;
  font-weight: var(--font-weight-bold, 700);
}

.section__subtitle-normal {
  font-weight: var(--font-weight, 400);
}

.section__paragraph {
  display: flex;
  flex-direction: column;
  row-gap: var(--break-small);
}

.section__text {
  color: var(--text-color-light, #F1B2CE);
  display: flex;
  flex-direction: column;
  gap: var(--break-small, 10px);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 130%);
}

.link {
  color: var(--text-color-light, #F1B2CE);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus-visible {
  border: 1px solid currentColor;
  color: var(--text-color-light, #F1B2CE)
}

.pictures {
  gap: var(--break-small, 10px);
}

.section__picture {
  inline-size: 100%;
  block-size: auto;
  margin-block-end: 40px;
}

.footer {
  display: grid;
  justify-content: center;
  align-items: center;
  position: relative;
  min-block-size: 668px;
  block-size: 100dvb;
  padding: var(--break-small, 10px);
}

.footer__title {
  font-size: var(--title-size);
  color: var(--title-color, #DB00FF);
  text-shadow: 2px 2px 0px #FF0070;
  font-weight: var(--font-weight-bold, 700);
  line-height: 82.5%;
}

@media (width >= 768px) {
  .page {
    background-image: url(../images/cover-image-dark.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .header {
    position: relative;
    display: grid;
    grid-template-rows: 1fr min-content 1fr;
    justify-items: end;
    align-items: center;
    padding: var(--break-small);
    block-size: 100vh;
    min-block-size: 668px;
    font-size: var(--font-size);
  }
  
  .header__title {
    position: relative;
    inset-inline-start: calc(-1 * var(--break-small));
  }
  
  .header__text {
    margin-block-start: calc(2 *var(--break-small));
    inline-size: 50%;
  }

  .main {
    padding: calc(3 * var(--break-small)) var(--break-small);
  }

  .content-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: var(--break-small);
  }

  .content-section:not(:last-of-type) {
    margin-block-end: calc(4 * var(--break-small));
  }

  .section__title {
    margin-block-end: 0;
  }
  
  .pictures {
    gap: var(--break-small);
    grid-template:
    "title title title"
    "image1 image1 image2"
    "image3 image4 image2"
    "image3 image5 image5"
  }

  .section__subtitle-bold {
    grid-area: title;
  }

  .section__picture:nth-child(2) {
    grid-area: image1;
  }

  .section__picture:nth-child(3) {
    grid-area: image2;
  }

  .section__picture:nth-child(4) {
    grid-area: image3;
  }

  .section__picture:nth-child(5) {
    grid-area: image4;
  }

  .section__picture:nth-child(6) {
    grid-area: image5;
  }
}

  @media (width >= 1024px) {
    .header {
      margin-block-end: 6%;
      grid-template-rows: 40% 20% 40%;
    }

    .header__theme-menu {
      justify-self: center;
      align-self: start;
    }

    .header__theme-menu-list {
      flex-direction: row;
    }
    
    .header__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }

    .header__text {
      padding: 0;
    }

    .section__title {
      max-width: 315px;
    }
    
    .pictures {
      gap: var(--break-small);
      grid-template:
      "title title title"
      "image1 image1 image2"
      "image3 image4 image2"
      "image3 image5 image5"
    }

    .section__subtitle-bold {
      grid-area: title;
    }

    .section__picture:nth-child(2) {
      grid-area: image1;
    }

    .section__picture:nth-child(3) {
      grid-area: image2;
    }

    .section__picture:nth-child(4) {
      grid-area: image3;
    }

    .section__picture:nth-child(5) {
      grid-area: image4;
    }

    .section__picture:nth-child(6) {
      grid-area: image5;
    }
    
    .what {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: var(--break-small);
    }

    .footer__title {
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
  }
