/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  background-image: url("../images/cover-image-dark.png");
  background-color: var(--background-color, #000028);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: var(--font-family, monospace);
  font-size: var(--font-size, 18px);
  font-weight: var(--font-weight, 400);
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  position: relative;
  min-block-size: 668px;
  padding: 10px;
  block-size: 100vh;
}

@supports (block-size: 100dvb) {
  .header {
    block-size: 100dvb;
  }
}

.header__mark {
  position: absolute;
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--accent-color, #FF0070);
  inset-inline-end: 40px;
  inset-block-start: 10px;
  line-height: 138.889%;
  text-transform: uppercase;
  cursor: default;
}

.header__mark::after {
  content: "";
  position: absolute;
  display: block;
  background-color: var(--accent-color, #FF0070);
  filter: drop-shadow(0px 0px 4px var(--accent-color, #FF0070));
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

.decor::before,
.decor::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 25px;
  block-size: 25px;
}

.decor::before {
  border-inline-end: 1px solid var(--accent-color, #FF0070);
  border-block-start: 1px solid var(--accent-color, #FF0070);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decor::after {
  border-inline-start: 1px solid var(--accent-color, #FF0070);
  border-block-end: 1px solid var(--accent-color, #FF0070);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}

.header__theme-menu {
  align-self: center;
  justify-self: flex-end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}

.header__theme-menu-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5px 13px;
  row-gap: 1px;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  font-family: var(--font-family, sans-serif);
  color: var(--accent-color, #FF0070);
  font-size: var(--font-size, 18px);
  line-height: 100%;
  border: 1px solid transparent;
  inline-size: 70px;
  min-block-size: 26px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover {
  border: var(--button-border-hover, 1px solid rgba(255, 0, 112, 0.40));
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  display: block;
  inline-size: calc(100% + 20px);
  block-size: 1px;
  background-color: var(--accent-color);
  border-block-end: 1px solid currentColor;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color, #DB00FF);
  text-shadow: var(--title-shadow, 4px 4px 0px #FF0070);
  font-weight: var(--font-weight-bold, 700);
  line-height: 82.5%;
  justify-self: start;
}

.title-decor {
  background-color: var(--accent-color, #FF0070);
  color: var(--text-color-dark, #000028);
  font-weight: var(--font-weight-bold, 700);
  font-family: inherit;
  line-height: var(--line-height, 130%);
}

.header__text {
  align-self: center;
  font-weight: var(--font-weight-bold, 700);
}

.main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  row-gap: 50px;
}

.section__title {
  color: var(--accent-color, #FF0070);
  font-weight: var(--font-weight-bold, 700);
  min-inline-size: 236px;
  inline-size: 100%;
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 130%);
}

.content-section,
.section__content {
  display: flex;
  flex-direction: column;
  gap: var(--section-gap, 20px);
}

.section__subtitle-bold {
  font-size: 18px;
  font-weight: var(--font-weight-bold, 700);
  line-height: var(--line-height, 130%);
}

.section__subtitle-normal {
  font-weight: var(--font-weight, 400);
}

.section__paragraph {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.section__text {
  color: var(--text-color-light, #F1B2CE);
  display: flex;
  flex-direction: column;
  gap: var(--break-small, 10px);
  font-size: var(--font-size, 18px);
  line-height: var(--line-height, 130%);
}

.link {
  color: var(--text-color-light, #F1B2CE);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  border-block-end: 1px solid currentColor;
}

.link:focus-visible {
  border: 1px solid currentColor;
  color: var(--text-color-light, #F1B2CE)
}

.pictures {
  display: grid;
  inline-size: 100%;
  gap: 10px;
}

.section__picture {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-position: center;
  object-fit: cover;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-block-size: 668px;
  block-size: 100vh;
  padding: 10px;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color, #DB00FF);
  text-shadow: 2px 2px 0px #FF0070;
  font-weight: var(--font-weight-bold, 700);
  line-height: 82.5%;
}

@media (width >= 768px) {
  .page {
    row-gap: 60px;
  }
  
  .decor::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decor::after {
    inset-inline-start: 20px;
    inset-block-end: 20px;
  }

  .header {
    min-block-size: 1024px;
    padding: 20px;
  }
  
  .header__mark {
    inset-block-start: 20px;
    inset-inline-end: 30px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }
  
  .header__text {
    inline-size: 364px;
    justify-self: flex-end;
  }

  .main {
    row-gap: 80px;
    padding: 0 20px;
  }

  .section__title {
    inline-size: 236px;
    min-inline-size: 236px;
  }

  .why,
  .how {
    flex-direction: row;
  }
  
  .pictures {
    gap: 20px;
    grid-template:
    "title title title"
    "image1 image1 image2"
    "image3 image4 image2"
    "image3 image5 image5"
  }

  .pictures__grid {
    grid-area: title;
  }

  .section__picture:nth-child(2) {
    grid-area: image1;
  }

  .section__picture:nth-child(3) {
    grid-area: image2;
  }

  .section__picture:nth-child(4) {
    grid-area: image3;
  }

  .section__picture:nth-child(5) {
    grid-area: image4;
  }

  .section__picture:nth-child(6) {
    grid-area: image5;
  }

  .footer {
    min-block-size: 1024px;
    padding: 20px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

  @media (1024px <= width) {
    .header {
      min-block-size: 768px;
    }

    .header__theme-menu {
      justify-self: center;
      align-self: flex-start;
    }

    .header__theme-menu-list {
      flex-direction: row;
    }
    
    .header__title {
      inline-size: 491px;
    }

    .section__title {
      min-inline-size: 315px;
      inline-size: 315px;
    }

    .what__details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    .footer {
      min-block-size: 768px;
    }
  }
